
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&family=Mooli&display=swap');


*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header 
{
    width: 100%;
    background-color: #a8a0a0;
    height: 70px;
    display: flex;
    /* padding-left: 10%;
    padding-right: 10%; */
    padding: 0px 10%;
    justify-content: space-between;
    position: fixed;
    
}

 .logo 
{
    width: 15%;
    height: 70px;
    /* background-color: yellow; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}



.nav-links 
{
    height: 170px;
    width: 100%;
    /* background-color: red; */
    list-style-type:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    color: #1e1919;
    font-color:white;

}
header ul li a:hover{
    font-weight: bold;
    /* color: rgb(197, 203, 206); */
    /* background: #f1f1f1; */
    height: 100%;
    background-color: rgba(0,0,0,0.1);
}
header ul li a.active{
    font-weight: bold;
   color: deepskyblue;
   background: #f1f1f1;
   height: 180px;
   background-color: rgba(0,0,0,0.1);
}
.section {
    /* padding: 70px 0; */
    /* height: 100vh; */
}



/* banner css  */

.banner 
{
    width: 100%;
    height: 750px;
    background-color: #d6d3d3;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    display: flex;
    align-items: center;


}


.details 
{
    width: 60%;
    padding: 20px;
    /* background-color: white; */
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
}

.t1 
{
    font-size: 60px;
}

.t2 
{
    
    font-size: 70px;
    font-weight: 700;
    color: #5b5bb0;
}

.desc 
{
    font-size: 20px;
}

.cta 
{
    padding: 16px 40px;
    font-size: 20px;
    margin-top: 35px;
    background-color: #5b5bb0;
    color: white;
    border: 2px solid #5b5bb0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    
}

.cta:hover 
{
    background-color: transparent;
    color: #5b5bb0;
}

.person 
{
    
    background-color: #5b5bb0;
    border-radius: 30px;
    padding: 30px;
    /* align-self: flex-end; */
}

.person-img 
{
    height: 300px;
    border-radius: 30px;
}

/* services css  */

.services 
{
    width: 100%;
    padding: 30px 10%;
    /* background-color: red; */
}

.section-title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 200;
}


.section-child 
{
    width: 100%;
    padding: 30px 0px ;
    /* background-color: white; */
    margin-top: 30px;
    display: flex;
    column-gap: 4%;
    
}

.service 
{
    width: 22%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    row-gap: 15px;
    box-shadow: 0 0 2px gray;
    border-radius: 10px;
    
}
.service1
{
    width: 15%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    row-gap: 15px;
    box-shadow: 0 0 2px gray;
    border-radius: 10px;
    
}
.section-child1
{
    width: 100%;
    padding: 10px 0px ;
    /* background-color: white; */
    margin-top: 10px;
    display: flex;
    column-gap: 4%;
    
}

.icon 
{
    padding: 50px;
    font-size: 70px;
    align-self: center;
    color: gray;
}

.service-text 
{
    font-size: 15px;
    
}

.service-btn 
{
    padding: 12px 25px;
    background-color: #5b5bb0;
    color: white;
    border: none;
    border-radius: 10px;

}

/* achievements */

.projects
{
    padding:30px 10%;
    background-color: #ededed;
    font-family: 'Montserrat', sans-serif;
}


.projects a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    color: #1e1919;
    font-color:white;

}



/* quote css  */

.quote 
{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.overlay 
{
    width: 100%;
    height: 100%;
    padding: 30px 10%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
}

.quote-area
{
    width: 100%;
    padding: 30px 0px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1{
    color: #f3f0f0;
}

/* social css  */

.social 
{
    width:100%;
    padding: 30px 5%;
    /* background-color: #a8a0a0; */
    margin-left: 75px;
    

}

.social-section-child
{
    /* background-color: white; */
    column-gap: 5%;
    flex-wrap: wrap;
    align-items: center;
    /* row-gap: 30px; */
}
.social-section-child a{
    float: right;
}

.social-img
{
    width: 100px;
    filter: grayscale(100%);
    transition: .3s;
    cursor: pointer;
    float: left;
    
}

.social-img:hover 
{
    filter: grayscale(0);
    transform: scale(1.2);
}
.social ul{

    display: flex;
}
.social ul li{
    
    list-style: none;
    margin-left: 25%;
}
.social ul li a{
    
    /* margin: 0 75px; */
}
 

/* footer css  */


.footer  
{
    width: 100%;
    padding: 30px 10%;
   background-color: #4a4a4a;
   font-family: 'Montserrat', sans-serif;
   color: white;
}



.footer-child
{
    width: 27%;
    padding: 20px 50px;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer-list
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}
footer ul{
    position: relative;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
footer ul li{
    position: relative;
    list-style: none;
}
footer ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    color:white;

}
.map 
{
    width: 40%;
    padding: 0;
}
